
<div class="d-flex flex-column font-weight-bold jumbotron justify-content-center animated fadeIn p-0" id="jumbotron">
  <div id="blurBox" class="p-4 text-center">
    <p class="text-white animated delay-2s fadeInDown m-0">{{ site.title }} by <a href="http://facebook.com/takagotch/">{{ site.author }}</a></p>
    <p class="animated display-4 delay-2s fadeInDown text-white">Project {{ site.title }}</p>
    <p class="animated delay-2s fadeInDown font-weight-normal pt-2 text-white m-0">
      V8.8.1
      <br>
      Powered by ACTIVATE-D Co.Ltd
    </p>

    <p class="lead m-0">
      <a class="btn-sm btn-light animated delay-2s fadeInUp" href="about.html#archivelist" role="button">Setting Up
        New?</a>
    </p>
  </div>
</div>
